@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    De Montfort University<br />
    Leicester, Leicestershire<br />
    <abbr title="Phone">P:</abbr>
    (+44)0 740 468 468 8  
</address>

<address>
    <strong>Email:</strong> <a href="leon.bennett@gmail.com">leon.bennett@gmail.com</a><br />
    <strong>Email:</strong> <a href="anjela.mikhaylova@gmail.com">anjela.mikhaylova@gmail.com</a><br />
    
</address>